    <div id="c-<%=comment.id%>">
        <%= button_to '+', upvote_comment_url(comment) %>
        <%= button_to '-', downvote_comment_url(comment) %>
        <%= comment.vote_total %>
        <%= link_to comment.author.username, user_url(comment.author) %> <%= comment.time_ago %> ago
        <% if current_user && (current_user.id == comment.author_id) %>
            <%= button_to "Delete", comment_url(comment), method: :delete %>
        <% end %>
    </div>
    <!--<div>Parent: <%#= comment.parent_comment_id %>, Id: <%#= comment.id %></div>-->
    <%= comment.content %>
    <div>
        <button class="reply-btn <%= "hide" unless current_user %>" id="comment-<%=comment.id%>">Reply</button>
        <%= link_to "Share", comment_url(comment) %>
    </div>
    <div class="hide", id="form-<%= comment.id %>">
        <%= render "comments/form", post_id: comment.post_id, parent_comment_id: comment.id %>
    </div>
