<% @title = "Register" %>
<div class="form login register bottom-padding">

  <div class="art"></div>

  <div class="form-container">

    <div class="logo-img">
      <i class="fas fa-bread-slice"></i>
    </div>

    <h1>Sign Up</h1>

    <%= link_to "Already own an account? Log in!", new_session_url %>

    <%= form_with model: @user, method: :post, local: true do |form| %>
      <div>
        <%= label :user, :email %>
        <%= form.text_field :email, value: @user.email, required: true, placeholder: "Email" %>
      </div>

      <div>
        <%= label :user, :username %>
        <%= form.text_field :username, value: @user.username, minlength: MIN_UNAME, maxlength: MAX_UNAME, required: true, placeholder: "Username" %>
      </div>

      <div>
        <%= label :user, :password %>
        <%= form.password_field :password, minlength: MIN_PWORD, required: true, placeholder: "Password" %>
      </div>

      <div>
        <%= form.submit "Register" %>
      </div>
    <% end %>
  </div>
</div>
