<nav class="left-nav">
    <%= link_to "RedditClone", root_url %>
    <%= link_to "Subs", subs_url %>
    <%= render "searches/form" %>
</nav>

<nav class="right-nav">
    <% if current_user %>
        <%= link_to current_user.username, user_url(current_user) %>
        <%= button_to "Log Out", session_url(current_user), method: :delete %>
    <% else %>
        <%= link_to "Log In", new_session_url %>
        <%= link_to "Sign Up", new_user_url %>
    <% end %>
</nav>