<% @title = "Sub: #{@sub.title}" %>

<section class="sub-details">
    <h1>Sub: <%= @sub.title %></h1>

    <% if @moderator.username == DESTROYED %>
        <%= DESTROYED %>
    <% else %>
        <%= link_to @moderator.username, user_url(@moderator) %>
    <% end %>

    <%= button_to('Subscribe', subscribe_sub_url(@sub)) if current_user %>

    <p><%= @sub.description %></p>

    <% if current_user == @moderator %>
        <%= link_to "Edit Sub", edit_sub_url(@sub) %>
    <% end %>
</section>

<section class="posts">
    <%= link_to "Post", new_post_url(sub_id: @sub.id) %>
    <% if @posts.empty? %>
        <p>No posts to see here</p>
    <% else %>
        <%= render "posts/list", posts: @posts, short: true %>
    <% end %>
</section>