<% @title = "Sub: #{@sub.title}" %>

<section class="sub-details">
    <h1>Sub: <%= @sub.title %></h1>
    <%= link_to @moderator.username, user_url(@moderator) %>
    <p><%= @sub.description %></p>
    <% if current_user == @moderator %>
        <%= link_to "Edit Sub", edit_sub_url(@sub) %>
    <% end %>
</section>

<section class="posts">
    <%= link_to "Post", new_post_url(sub_id: @sub.id) %>
    <% if @sub.posts.empty? %>
        <p>No posts to see here</p>
    <% else %>
        <%= render "posts/list", posts: @sub.posts %>
    <% end %>
</section>