<!DOCTYPE html>
<html>
  <head>
    <title>Breddit: <%= @title %></title>
    <meta name="description" content="A MVP clone of Reddit">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/f5bc38d9a9.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>-->
  </head>

  <body>
    <header>
      <%= render "shared/nav_bar" %>
    </header>

    <main>
      <%= render "shared/errors" %>
      <%= yield %>
    </main>

    <%= javascript_include_tag 'components/nav_buttons' %>
  </body>
</html>
